/** import de mi SCSS**/
/**colores para mi pagina**/
/*HEADER MAIN */
/*FOOTER MAIN */
header {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); }
  header .my-links {
    margin: 10px;
    padding: 12px;
    width: 100px;
    cursor: pointer;
    transition: .5s ease;
    border-radius: 10px;
    text-align: center; }
  header .my-links:hover {
    background: transparent;
    border: 2px solid gold;
    box-shadow: 0 0 10px gold inset, 0 0 10px 4px gold;
    border-radius: 10px; }

.texts {
  letter-spacing: 2px;
  transition: text-shadow 200ms; }
  .texts:hover {
    text-shadow: red -2px 0, cyan 5px 0; }

footer {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); }
  footer a {
    color: black; }
  footer a.nav-link {
    color: black; }
  footer p {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif; }
