/**colores para mi pagina**/

$bgheader:  #FBAB7E;
$bg-image:  linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
$bgfootera: white;
$ig: #8a3ab9;
$tw:#00acee;
$fb: #3b5998;
$bgmaincards:rgb(131,119,69);
$main-img: linear-gradient(112deg, rgba(131,119,69,1) 46%, rgba(247,191,50,1) 46%);
