footer {
    background-color: $bgheader;
    background-image: $bg-image;
    a {
        color:black;
    }
    a.nav-link {
        color: black;
    }
    p {
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
    }

}

